<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">

	<!-- 조회 전체 검색 -->
	<select id="list" resultType="MemberDto">
		select * from member
	</select>
	<!-- 상세 -->
	<select id="find" resultType="MemberDto">
		select * from member where
		member_id = #{memberId}
	</select>
	<!-- 등록 -->
	<insert id="save">
		INSERT INTO member (
		member_id, member_pw,member_name, member_birth, 
		member_email, member_phone,	member_level, member_join_date, 
		member_point, member_zip,member_addr1, member_addr2, 
		member_privacy_agree, member_privacy_date, member_service_agree, member_bus_agree)
		VALUES (
		#{memberId},#{memberPw},#{memberName},#{memberBirth},
		#{memberEmail},#{memberPhone},#{memberLevel},#{memberJoinDate},
		#{memberPoint},#{memberZip},#{memberAddr1},#{memberAddr2},
		#{memberPrivacyAgree},#{memberPrivacyDate},#{memberServiceAgree},#{memberBusAgree},
		);

	</insert>

</mapper>