<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="review">
	
	<!-- 등록 -->
	<!-- 시퀀스 생성 -->
	<select id="sequence" resultType="int">
		select review_seq.nextval from dual
	</select>
	
	<insert id="save">
		insert into review(
			review_no, review_title, review_content, 
			review_wtime, review_writer, review_view_count,
			review_star
		)
		values(
			#{reviewNo}, #{reviewTitle}, #{reviewContent},
			sysdate, #{review_writer}, #{reviewViewCount},
			#{reviewStar}
		)
	</insert>
	
	<!-- 목록 최신 작성부터 정렬-->
	<select id="list" resultType="ReviewDto">
		select * from review order by review_wtime desc
	</select>
	
	<!-- 키워드 검색 -->
	<select id="find" resultType="ReviewDto">
		select * from review where review_no = #{reviewNo}
	</select>
	
	
</mapper>





