<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="route">

	<select id="sequence" resultType="int">
		select route_seq.nextval from
		dual
	</select>

	<insert id="insert">
		insert into route(
		route_no, route_time, route_km,
		route_start_time, route_end_time, route_start, route_end,
		bus_no,
		route_way
		)
		values(
		#{routeNo}, #{routeTime}, #{routeKm},
		#{routeStartTime}, #{routeEndTime}, #{routeStart}, #{routeEnd},
		#{busNo}, #{routeWay}
		)
	</insert>

	<select id="list" resultType="RouteDto">
		select * from route order by
		route_no asc
	</select>

	<select id="find" resultType="RouteDto">
		select * from route where route_no
		= #{routeNo}
	</select>

	<update id="editAll">
		update route set
		route_time = #{routeTime},
		route_km =
		#{routeKm},
		route_start_time = #{routeStartTime},
		route_end_time =
		#{routeEndTime},
		route_start = #{routeStart},
		route_end = #{routeEnd},
		bus_no = #{busNo},
		route_way = #{routeWay}
		where route_no = #{routeNo}
	</update>

	<update id="edit">
		update route
		<set>
			<if test="routeTime != null">route_time = #{routeTime},</if>
			<if test="routeKm > 0">route_km = #{routeKm},</if>
			<if test="routeStartTime != null">route_start_time = TO_date(#{routeStartTime}, 'YYYY-MM-DD HH24:MI:SS'),</if>
			<if test="routeEndTime != null">route_end_time = TO_date(#{routeEndTime}, 'YYYY-MM-DD HH24:MI:SS'),</if>
			<if test="routeStart != null">route_start = #{routeStart},</if>
			<if test="routeEnd != null">route_end = #{routeEnd},</if>
			<if test="routeWay != null">route_way = #{routeWay}</if>
		</set>
		where route_no = #{routeNo}
	</update>

	<delete id="delete">
		delete route where route_no = #{routeNo}
	</delete>

	<select id="getTimeList" resultType="RouteTimesVO">
		SELECT route_start, route_end,
			TO_CHAR(route_start_time, 'YYYY-MM-DD HH24:MI') AS route_start_time,
			TO_CHAR(route_end_time, 'YYYY-MM-DD HH24:MI') AS route_end_time
		FROM route 
		where route_start = #{routeStart} and route_end = #{routeEnd}
	</select>
	
	
	<!-- 목록 개수 -->
	<select id="count" resultType="int">
		select count(*) from terminal
	</select>
	
	<!-- 상단 -->
	<sql id="top-n-header">
	    <if test="beginRow != null and endRow != null">
	    	select * from (
	        	select rownum rn, TMP.* from (
	    </if>
	</sql>
	<!-- 하단 -->
	<sql id="top-n-footer">
	    <if test="beginRow != null and endRow != null">
		        )TMP
		    ) where rn between #{beginRow} and #{endRow}
	    </if>
	</sql>

</mapper>